[Desktop Entry]
Version=1.0
Name=Obsidian
Comment=Obsidian Desktop App
Exec=/home/fzykin/Documents/Soft/Obsidian-1.6.7.AppImage
Icon=/home/fzykin/Documents/.obsidian/obsidian-icon.png
Terminal=false
Type=Application
Categories=Office;
MimeType=x-scheme-handler/obsidian;
